extends app

block content
  .col-lg-6
  .input-group
    input.form-control(type='text', placeholder='Search book...')
    span.input-group-btn
      button.btn.btn-default(type='button') 
        span.glyphicon.glyphicon-search(aria-hidden='true')