extends layout

block content
    h1= title

    if error
        .alert.alert-danger(role='alert')
            span Error: #{error}

    form(method="POST" action="/login")
        .form-group
            label(for='input-email') Email address
            input#input-email.form-control(name='email' type='email', aria-describedby='emailHelp', placeholder='Enter email')
        .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(name='password' type='password', placeholder='Password')
        button.btn.btn-primary(type='submit') Login

    p#signup-link 
        | Not registered? &nbsp;
        a(href="signup") Signup here.